body {
    background: url(../images/bg.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    padding: 1vh, 1vw, 1vh, 1vw;
    height: 5vh;
}

table {
    width: 100%;
}

.tdSmall {
    width: 20%;
}

.tdBig {
    width: 60%;
}

.leftDiv {
    text-align: left;
}

.centerDiv {
    text-align: center;
}

.rightDiv {
    text-align: right;
}

.headerLink {
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
}

    .headerLink:hover {
        color: #dca5a5
    }

img {
    /*width: 10vw;
    height: 10vh;*/
}



.footer {
    bottom: 1vh;
    position: absolute;
}

.footerDiv {
    text-align: center;
    width: 99vw;
    font-family: 'Arial Rounded MT';
}


.mainpage {
    color: white;
}

.mainpageContent {
    display: block;
    width: 50vw;
    margin-left: 25vw;
    height: 50vh;
    margin-top: 25vh;
    text-align: center;
}

.bigtext {
    display: block;
    margin-top: 10vh;
    font-family: 'Arial Rounded MT';
}

.smalltext {
    display: block;
    margin-top: -2vh;
    font-family: 'Arial Rounded MT';
}

.mainpageGombok {
    display: block;
    margin-top: 3vh;
}

button {
    background-color: #4CAF50; /* Zd */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1vh 1vh;
}

.abutton {
    background-color: #4CAF50; /* Zd */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1vh 1vh;
}

.buttonblue {
    background-color: blue;
    color: white;
}

    .buttonblue:hover {
        background-color: #008CBA;
        color: white;
    }

.buttonred {
    background-color: red;
    color: white;
}

    .buttonred:hover {
        background-color: #f44336;
        color: white;
    }
